{% extends "myCookbook/layout.html" %}
{% load static %}

{% block title %}
<title>Password Reset Form</title>
{% endblock %}

{% block main %}
<div class="orange-bg">
    <div class="container my-5">
        <div class="row">
            <div class="col-4 offset-4">
                <h1>Change Password</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p }}
                
                    <input class="btn btn-primary" type="submit" value="Reset Password">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
