{% extends "myCookbook/layout.html" %}
{% load static %}
{% block title %}
<title>Add New Recipe</title>
{% endblock %}
{% block main %}

<div class="container mb-5">
    <h1 class="text-center my-5">Add a New Recipe!</h1>
    <div class="row">
        <div class="col-6 offset-3">
            <form novalidate action="{% url 'addRecipe' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-floating py-2">
                    {{ form.name }}
                    <label for="username" class="form-label">Name</label>
                </div>
                <div class="py-2">
                    <div class="row row-cols-3">

                        {% for i in form.categories %}
                        <div class="col">
                            {{i}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-floating py-2">
                    {{ form.description }}
                    <label for="description" class="form-label">Description</label>
                </div>
                <div class="py-2">
                    {{ form.ingredients }}
                </div>
                <div class="row">
                    <div class="col-auto py-2">
                        <label for="num_servings" class="form-label">Number of Servings</label>
                        {{ form.num_servings }}
                    </div>
                    <div class=" col-auto py-2">
                        <label for="min" class="form-label">Total Time</label>
                        {{ form.min }}
                    </div>
                </div>
                <div class="py-2" id="ingredientList">
                    <p>Ingredients</p>
                    <div class="input-group">
                        <div class="input-group-text" name="ingredients"></div>
                        <input class="form-control" type="number" step='.125' name="ingredients" placeholder="Quantity"
                            required>
                        <select class="form-control custom-select" name="ingredients" required>
                            <option selected>Choose a Unit</option>
                            <option value="NA">Not Applicable</option>
                            <option value="C">Cup</option>
                            <option value="OZ">Ounce</option>
                            <option value="LB">Pound</option>
                            <option value="TB">Tablespoon</option>
                            <option value="TS">Teaspoon</option>
                        </select>
                        <input class="form-control" type="text" name="ingredients" placeholder="Ingredient" required>
                    </div>
                    <button type="button" class="btn btn-dark btn-sm my-2" onclick="addIngredientElement()"
                        id="addIngredient">Add
                        Ingredient</button>
                </div>

                <div class="py-2" id="instructionList">
                    <p>Instructions</p>
                    <div class="input-group">
                        <div class="input-group-text"></div>
                        <input class="form-control" name="instructions" type="text" placeholder="Add Instruction"
                            required>
                    </div>
                    <button type="button" class="btn btn-dark btn-sm my-2" onclick="addInstructionElement()"
                        id="addInstruction">Add
                        Instruction</button>

                </div>

                <div class="pt-2 pb-4">
                    {{ form.image }}
                </div>

                <input type="submit" id="recipeSubmit" value="Add Recipe" onclick="clearForm()" class="btn btn-primary">


            </form>
        </div>
    </div>
</div>
{% endblock %}