{% extends "myCookbook/layout.html" %}
{% load static %}
{% block title %}
<title>Explore Recipes</title>
{% endblock %}

{% block main %}
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>All Recipes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="container text-start">
                <div class="row">
                    <div class="col">
                        <h3>Filter By Category</h3>
                        {% for c in categories %}
                        <form method="GET">
                        <div class="row">
                            <div class="form-check">
                                {% if c.name == queryCategory.name %}
                                <input class="form-check-input" type="radio" name='w' value="{{c.id}}" id="flexRadioDefault1{{c.id}}" checked>
                                <label class="form-check-label" for="flexRadioDefault1{{c.id}}">{{c.name}}</label>
                                {% else %}
                                <input class="form-check-input" type="radio" name='w' value="{{c.id}}" id="flexRadioDefault1{{c.id}}">
                                <label class="form-check-label" for="flexRadioDefault1{{c.id}}">{{c.name}}</label>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <input class="button btn btn-primary" type='submit' value="Search">
                    </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row text-end">
                <div class="col-8">

                </div>
                <div class="col-4">
                    <form method='GET'>
                        <div class="form-group" style="display:flex ;">
                            <input type='text' class="form-control" name='q' value='{{ request.GET.q }}'>
                            <input class="button btn btn-primary" type='submit' value="Search">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row text-center my-3">
                <div class="row">
                    <div class="col-2">
                        <a href="{% url 'allRecipes' %}" class="btn btn-secondary">Clear All</a>
                    </div>
                </div>
            </div>

            <div class="row my-3 text-center">
            {% if querySearch %}
            <div class="col">
                <h4>Results for: "{{querySearch}}"</h4>
            </div>
            {% endif %}
            {% if queryCategory %}
            <div class="col">
                <h4>Results for: "{{queryCategory}}"</h4>
            </div>
            {% endif %}
            </div>
            <div class="row row-cols-3 gy-5 gx-2">
                {% for r in recipes %}
                <div class="col">
                    <a href="{% url 'recipeDetail' r.slug %}">
                        <div class="card recipeCard">
                            <img class="recipeImageCard" src="{{ r.image }}" class="card-img-top">
                            <div class="card-body">
                                <h6>{{r.name}}</h6>
                            </div>
                        </div>
                    </a>

                </div>
                {% empty %}
                    <div class="col-3 offset-4">
                        <h3>No Recipes Found.</h3>
                    </div>
       
                {% endfor %}
            </div>


            <div class="row">
                <div class="col-12 my-5">
                    <span class="step-links">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                {% if page_obj.number != page_obj. %}
                                <li class="page-item"><a class="page-link" href="?page=1"><i
                                            class="bi bi-chevron-double-left"></i></a></li>
                                {% endif %}

                                <li class="page-item"><a class="page-link"
                                        href="?page={{ page_obj.previous_page_number }}"><i
                                            class="bi bi-chevron-left"></i></a></li>
                                {% endif%}
                                {% for n in page_obj.paginator.page_range %}
                                {% if page_obj.number == n %}
                                <li class="page-item active">
                                    <span class="page-link">{{ n }}<span class="sr-only"></span></span>
                                </li>
                                {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %} <li
                                    class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                                    {% endif %}
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link"
                                            href="?page={{ page_obj.next_page_number }}"><i
                                                class="bi bi-chevron-right"></i></a></li>
                                    {% if page_obj.number != page_obj.paginator.num_pages %}
                                    <li class="page-item"><a class="page-link"
                                            href="?page={{ page_obj.paginator.num_pages }}"><i
                                                class="bi bi-chevron-double-right"></i></a></li>
                                    {% endif %}
                                    {% endif %}
                                    </li>
                            </ul>
                        </nav>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}