{% extends "myCookbook/layout.html" %}
{% load static %}
{% block title %}
<title>Home</title>
{% endblock %}

{% block main %}
{% for c in cat %}
{{c.name}}
{% endfor %}
{% if message %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Congratulations!</strong> {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
{% endif %}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active item_carousel">
      <img class="carousel-image" src="myCookbook/images/recipeImages/food.jpeg" alt="">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Explore All Recipes</h1>
          <p>Need some inspiration for you meals? Check out other people's favorite dishes!</p>
          <p><a class="btn btn-lg btn-primary" href="{% url 'allRecipes' %}">Go to Recipes</a></p>
        </div>
      </div>
    </div>
    {% for r in recipes %}
    <div class="carousel-item item_carousel">
      <img class="carousel-image" src="{{r.image}}" alt="">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>{{r.name}}</h1>
          <p>{{ r.description }}</p>
          <p><a class="btn btn-lg btn-primary" href="">See Recipe</a></p>
        </div>
      </div>
    </div>

    {% endfor%}

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<div class="container">
  <div class="row my-5">
    <div class="col-1"></div>
    <div class="col-md-4">
      <img src="myCookbook/images/recipeImages/cookbook.jpeg" class="img-fluid index-img">
    </div>
    <div class="col">
      <div class="row">
        <h5 class="display-5">Keep All Your Recipes in One Place</h5>
        <p>Tired of all the ripped out recipes from magazines and screenshots on your phone? Keep all of your favorite
          recipes in one place and access it anywhere!</p>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row my-5">
    <div class="col-1"></div>
    <div class="col">
      <div class="row">
        <h5 class="display-5">Share Your Favorite Recipes with Others</h5>
        <p>Tired of all the ripped out recipes from magazines and screenshots on your phone? Keep all of your favorite
          recipes in one place and access it anywhere!</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="myCookbook/images/recipeImages/sharingfood.jpeg" class="img-fluid index-img">
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row my-5">
    <div class="col-1"></div>
    <div class="col-md-4">
      <img src="myCookbook/images/recipeImages/newfoods.jpeg" class="img-fluid index-img">
    </div>
    <div class="col">
      <div class="row">
        <h5 class="display-5">Get Inspired!</h5>
        <p>Are you getting tired of always eating the same thing? Try something new by checking out favorite recipes of
          others!</p>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>


{% endblock %}