{% load static %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'myCookbook/node_modules/basiclightbox/dist/basicLightbox.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'myCookbook/cookbookstyles.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand ms-5" href="{% url 'index' %}"><img
                    src="{% static 'myCookbook/myCookbookLogo.svg' %}" width="150" height="150" alt="My Cookbook">
            </a>
            <button class="navbar-toggler me-5" type="button" data-bs-toggle="collapse" data-bs-target="#nav"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link ps-5" href="{% url 'index' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ps-5" href="{% url 'allRecipes' %}">Recipes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ps-5" href="{% url 'addRecipe' %}">Add Recipe</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ps-5" href="{% url 'contactUs' %}">Contact Us</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link ps-5" href="{% url 'myCookbook' %}">My Cookbook-<span id="ms"
                                class="watcher-badge">{{ user.saved_recipes.all|length }}</span></a>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ps-5" href="{% url 'profile' user.slug %}">My Account</a>
                    </li>
                    {% endif %}
                </ul>

                <ul class="navbar-nav d-flex flex-column ms-auto me-5 ps-5">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light" href="{% url 'login' %}">Login</a>
                    </li>
                    <br>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light" href="{% url 'signUp' %}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </nav>

    </header>
    <main>
        {% if message %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Yay!</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% endif %}
        {% for m in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Yay!</strong> {{ m }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% endfor %}
        {% block main %}
        {% endblock %}
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="{% static 'myCookbook/myCookbook.js' %}"></script>
    <script src="{% static 'myCookbook/node_modules/basiclightbox/dist/basicLightbox.min.js' %}"></script>
    <script>if (document.querySelector('form') != undefined) {

            const form = document.querySelector("form")

            form.addEventListener('submit', e => {
                if (!form.checkValidity()) {
                    e.preventDefault()
                }
                form.classList.add('was-validated')
            })
        }

        document.addEventListener('DOMContentLoaded', function () {

            update_counters();
            if (document.querySelector('.ratings') != undefined) {
                loadRatings();
            }
            if (document.querySelector('.toggle_saved') != undefined) {

                document.querySelectorAll('.toggle_saved').forEach(button => {
                    console.log(button)
                    const recipe_id = parseInt(button.dataset.recipe_id);

                    fetch(`/api/saved?recipe_id=${recipe_id}`)
                        .then(response => response.json())
                        .then(data => {
                            update_button_display(button, data.in_cookbook);
                        })
                        .catch(error => {
                            console.log("*** api/saved error **", response.json());
                        })

                    button.onclick = function () {

                        const recipe_id = this.dataset.recipe_id;
                        console.log(`Toggle saved for recipe id=${recipe_id}`);
                        fetch(`/api/toggle?recipe_id=${recipe_id}`)
                            .then(response => response.json())
                            .then(data => {
                                update_button_display(this, data.in_cookbook);
                                update_innerHTML('#ms', data['my_saves'])
                            })
                            .catch(error => {
                                console.log("*** api/toggle error **", error);
                            })
                    }
                })
            }

        });

        function addInstructionElement() {
            const element = document.getElementById("instructionList");
            var IG = document.createElement('div');
            var IGT = document.createElement('div');
            var I1 = document.createElement('input');
            IG.className = "input-group";
            IGT.className = 'input-group-text';
            I1.name = "instructions";
            I1.className = 'form-control';
            I1.type = 'text';
            I1.placeholder = 'Add Instruction';
            IG.append(IGT);
            IG.append(I1);

            element.append(IG);
        }

        function addIngredientElement() {
            const element = document.getElementById("ingredientList");
            var IG = document.createElement('div');
            var IGT = document.createElement('div');
            var I1 = document.createElement('input');
            var I2 = document.createElement('input');
            var I3 = document.createElement('select');
            var O1 = document.createElement('option');
            var O2 = document.createElement('option');
            var O3 = document.createElement('option');
            var O4 = document.createElement('option');
            var O5 = document.createElement('option');
            var O6 = document.createElement('option');
            var O7 = document.createElement('option');
            IG.className = "input-group";
            IGT.className = 'input-group-text';
            I1.className = 'form-control';
            I1.name = "ingredients";
            I2.className = 'form-control';
            I2.name = "ingredients";
            I3.className = 'form-control custom-select';
            I3.name = "ingredients";
            I1.type = 'text';
            I2.type = 'number';
            I1.placeholder = 'Ingredient';
            I2.placeholder = 'Quantity';
            O1.selected;
            O1.innerHTML = 'Choose a Unit';
            O2.value = 'C';
            O2.innerHTML = 'Cup';
            O3.value = 'OZ';
            O3.innerHTML = 'Ounce';
            O4.value = 'LB';
            O4.innerHTML = 'Pound';
            O5.value = 'TB';
            O5.innerHTML = 'Tablespoon';
            O6.value = 'TS';
            O6.innerHTML = 'Teaspoon';
            O7.innerHTML = 'Not Applicable';
            O7.value = 'NA';
            I3.appendChild(O1);
            I3.appendChild(O7);
            I3.appendChild(O2);
            I3.appendChild(O3);
            I3.appendChild(O4);
            I3.appendChild(O5);
            I3.appendChild(O6);
            IG.append(IGT);
            IG.append(I2);
            IG.append(I3);
            IG.append(I1);

            element.append(IG);
        }

        function loadRatings() {
            const ratingBlock = document.getElementsByClassName("ratings");
            var rating = ratingBlock.dataset.rating;
            for (let i = 0; i < rating; i++) {
                var star = document.createElement('i');
                star.className = "bi bi-bookmark-fill";
                star.style.display = 'inline-block';
                ratingBlock.appendChild(star);
            }
        }

        function clearForm() {
            var form = document.getElementById('recipeSubmit');
            form.submit();
            form.reset();
        }

        function update_button_display(button, saved) {
            console.log(`update_button-display: ${button} ${saved}`);
            let filename = button.src;
            if (saved) {
                filename = filename.replace("hollow", "filled");
            } else {
                filename = filename.replace("filled", "hollow");
            }
            button.src = filename;
        }


        function update_innerHTML(element_id, value) {
            if (document.querySelector(element_id) != undefined) {
                document.querySelector(element_id).innerHTML = value;
            }
        }

        function update_counters() {
            fetch("/api/counters")
                .then(response => response.json())
                .then(data => {
                    update_innerHTML('#mr', data['my_recipes'])
                    update_innerHTML('#ms', data['my_saves'])
                })
                .catch(error => {
                    console.log('**** api/counters error **', error);
                });
        }

        function lightbox() {
            const imageInstance = basicLightbox.create(document.querySelector('#image'))
            document.querySelector('img.image').onclick = imageInstance.show
        }

        const myTextArea = document.getElementById('my-textarea');
        const remainingCharsText = document.getElementById('my-textarea-remaining-chars');
        const MAX_CHARS = 250;

        myTextArea.addEventListener('input', () => {
            const remaining = MAX_CHARS - myTextArea.value.length;
            const color = remaining < MAX_CHARS * 0.1 ? 'red' : null
            remainingCharsText.textContent = `${remaining} characters remaining`;
            remainingCharsText.style.color = color;
        });

        const oneStar = document.getElementById('oneStar');
        const twoStar= document.getElementById('twoStar');
        const threeStar = document.getElementById('threeStar');
        const fourStar = document.getElementById('fourStar');
        const fiveStar = document.getElementById('fiveStar');
        const rating = document.getElementById('rating');

        oneStar.addEventListener('mouseover',() => {
            oneStar.className = 'bi bi-star-fill';
        });

        twoStar.addEventListener('mouseover',() => {
            oneStar.className = 'bi bi-star-fill';
            twoStar.className = 'bi bi-star-fill';
        });

        threeStar.addEventListener('mouseover',() => {
            oneStar.className = 'bi bi-star-fill';
            twoStar.className = 'bi bi-star-fill';
            threeStar.className = 'bi bi-star-fill';
        });

        fourStar.addEventListener('mouseover',() => {
            oneStar.className = 'bi bi-star-fill';
            twoStar.className = 'bi bi-star-fill';
            threeStar.className = 'bi bi-star-fill';
            fourStar.className = 'bi bi-star-fill';
        });

        fiveStar.addEventListener('mouseover',() => {
            oneStar.className = 'bi bi-star-fill';
            twoStar.className = 'bi bi-star-fill';
            threeStar.className = 'bi bi-star-fill';
            fourStar.className = 'bi bi-star-fill';
            fiveStar.className = 'bi bi-star-fill';
        });

        oneStar.addEventListener('mouseleave',() => {
            oneStar.className = 'bi bi-star';
        });

        twoStar.addEventListener('mouseleave',() => {
            oneStar.className = 'bi bi-star';
            twoStar.className = 'bi bi-star';
        });

        threeStar.addEventListener('mouseleave',() => {
            oneStar.className = 'bi bi-star';
            twoStar.className = 'bi bi-star';
            threeStar.className = 'bi bi-star';
        });

        fourStar.addEventListener('mouseleave',() => {
            oneStar.className = 'bi bi-star';
            twoStar.className = 'bi bi-star';
            threeStar.className = 'bi bi-star';
            fourStar.className = 'bi bi-star';
        });

        fiveStar.addEventListener('mouseleave',() => {
            oneStar.className = 'bi bi-star';
            twoStar.className = 'bi bi-star';
            threeStar.className = 'bi bi-star';
            fourStar.className = 'bi bi-star';
            fiveStar.className = 'bi bi-star';
        });
        
        oneStar.addEventListener('click',() => {
            oneStar.className = 'bi bi-star-fill';
            rating.value = 1;
        });

        twoStar.addEventListener('click',() => {
            oneStar.className = 'bi bi-star-fill';
            twoStar.className = 'bi bi-star-fill';
            rating.value = 2;
        });

        threeStar.addEventListener('click',() => {
            oneStar.className = 'bi bi-star-fill';
            twoStar.className = 'bi bi-star-fill';
            threeStar.className = 'bi bi-star-fill';
            rating.value = 3;
        });

        fourStar.addEventListener('click',() => {
            oneStar.className = 'bi bi-star-fill';
            twoStar.className = 'bi bi-star-fill';
            threeStar.className = 'bi bi-star-fill';
            fourStar.className = 'bi bi-star-fill';
            rating.value = 4;
        });

        fiveStar.addEventListener('click',() => {
            oneStar.className = 'bi bi-star-fill';
            twoStar.className = 'bi bi-star-fill';
            threeStar.className = 'bi bi-star-fill';
            fourStar.className = 'bi bi-star-fill';
            fiveStar.className = 'bi bi-star-fill';
            rating.value = 5;
        });

        

    </script>
</body>

</html>