{% extends "myCookbook/layout.html" %}
{% load static %}
{% load custom_tags %}
{% block title %}
<title>My Cookbook</title>
{% endblock %}

{% block main %}
<div class="container text-center">
    <div class="row my-5">
        <div class="col">
            <h1>My Cookbook</h1>
        </div>
    </div>
</div>

<div class="mytabs">
    <input type="radio" id="tabsave" name="mytabs" checked="checked">
    <label for="tabsave">Saved Recipes</label>
    <div class="tab">
        <div class="row text-center mb-5">
            <h2>Saved Recipes</h2>
        </div>
        {% for r in savedRecipes %}
        <div class="row">
            <div class="col-4 text-center">
                <img style="width: 250px; height: 250px;object-fit:cover;" src="{{r.image}}" alt="">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-1">
                        {% if user.is_authenticated %}
                        <img class="toggle_saved" data-recipe_id="{{ r.id }}"
                            src="{% static 'myCookbook/bookmark-filled.svg' %}">
                        {% endif %}
                    </div>
                    <div class="col">
                        <h4>{{r.name}}</h4>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <p>{{r.description}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{forloop.counter}}">View Recipe <i class="bi bi-eye"></i></button>

                        <!-- Modal -->
                        <div class="modal modal-lg fade" id="exampleModal{{forloop.counter}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel{{forloop.counter}}">
                                            {{r.name}}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <!--Modal Body-->
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-8 text-center">
                                                    <img class="modalImage"
                                                        
                                                        src="{{r.image}}" alt="">
                                                </div>
                                                <div class="col-4">
                                                    <div class="d-flex justify-content-center">
                                                        <ul class="list-group">
                                                            <li class="list-group-item"><strong>Servings:</strong>
                                                                {{r.num_servings}}</li>
                                                            <li class="list-group-item"><strong><i
                                                                        class="bi bi-clock"></i> Total time:</strong>
                                                                {{r.min}} min
                                                            </li>
                                                            <li class="list-group-item"><strong><i
                                                                        class="bi bi-person-circle"></i> Posted
                                                                    by:</strong>
                                                                {{r.author}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Ingredients-->
                                            <div class="row">
                                                <div class="col-4 my-4">
                                                    <h4 class="text-center mb-3"><strong>Ingredients</strong></h4>

                                                    <ul class="list-group">
                                                        {% for i in r.ingredients|newIngredients %}
                                                        <li class="list-group-item">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value=""
                                                                    id="flexCheckDefault" onclick="checkBox()">
                                                                <label
                                                                    style="background-color:white; padding:1px;font-weight: 100;"
                                                                    class="form-check-label" for="flexCheckDefault">
                                                                    {% for x in i %}
                                                                    {{x}}
                                                                    {% endfor %}
                                                                </label>
                                                            </div>

                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <!--Instructions-->
                                                <div class="col my-4">
                                                    <h4 class="text-center mb-3"><strong>Instructions</strong></h4>
                                                    <div class="accordion" id="accordionPanelsStayOpenExample">
                                                        {% for i in r.instructions|newInstructions %}
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header"
                                                                id="panelsStayOpen-heading{{forloop.counter}}">
                                                                <button class="accordion-button" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#panelsStayOpen-collapse{{forloop.counter}}"
                                                                    aria-expanded="true"
                                                                    aria-controls="panelsStayOpen-collapse{{forloop.counter}}">
                                                                    Step {{forloop.counter}}
                                                                </button>
                                                            </h2>
                                                            <div id="panelsStayOpen-collapse{{forloop.counter}}"
                                                                class="accordion-collapse collapse show"
                                                                aria-labelledby="panelsStayOpen-heading{{forloop.counter}}">
                                                                <div class="accordion-body">
                                                                    {{i}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <a class="btn btn-primary" href="{% url 'recipeDetail' r.slug %}">View Full
                                            Recipe</a>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <hr>
        <br>
        {% endfor %}

    </div>

    <input type="radio" id="tabmy" name="mytabs">
    <label for="tabmy">My Recipes</label>
    <div class="tab">
        <div class="row text-center mb-5">
            <h2>My Recipes</h2>
        </div>
        {% for r in myRecipes %}
        <div class="row">
            <div class="col-4 text-center">
                <img style="width: 250px; height: 250px;object-fit:cover;" src="{{r.image}}" alt="">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4>{{r.name}}</h4>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <p>{{r.description}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                            data-bs-target="#myexampleModal{{forloop.counter}}">View Recipe <i class="bi bi-eye"></i></button>
            
                        <!-- Modal -->
                        <div class="modal modal-lg fade" id="myexampleModal{{forloop.counter}}" tabindex="-1"
                            aria-labelledby="myexampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="myexampleModalLabel{{forloop.counter}}">
                                            {{r.name}}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <!--Modal Body-->
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-8 text-center">
                                                    <img class="modalImage"

                                                        src="{{r.image}}" alt="">
                                                </div>
                                                <div class="col-4">
                                                    <div class="d-flex justify-content-center">
                                                        <ul class="list-group">
                                                            <li class="list-group-item"><strong>Servings:</strong>
                                                                {{r.num_servings}}</li>
                                                            <li class="list-group-item"><strong><i
                                                                        class="bi bi-clock"></i> Total time:</strong>
                                                                {{r.min}} min
                                                            </li>
                                                            <li class="list-group-item"><strong><i
                                                                        class="bi bi-person-circle"></i> Posted
                                                                    by:</strong>
                                                                {{r.author}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Ingredients-->
                                            <div class="row">
                                                <div class="col-4 my-4">
                                                    <h4 class="text-center mb-3"><strong>Ingredients</strong></h4>

                                                    <ul class="list-group">
                                                        {% for i in r.ingredients|newIngredients %}
                                                        <li class="list-group-item">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value=""
                                                                    id="flexCheckDefault" onclick="checkBox()">
                                                                <label
                                                                    style="background-color:white; padding:1px;font-weight: 100;"
                                                                    class="form-check-label" for="flexCheckDefault">
                                                                    {% for x in i %}
                                                                    {{x}}
                                                                    {% endfor %}
                                                                </label>
                                                            </div>

                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <!--Instructions-->
                                                <div class="col my-4">
                                                    <h4 class="text-center mb-3"><strong>Instructions</strong></h4>
                                                    <div class="accordion" id="accordionPanelsStayOpenExample">
                                                        {% for i in r.instructions|newInstructions %}
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header"
                                                                id="panelsStayOpen-heading{{forloop.counter}}">
                                                                <button class="accordion-button" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#panelsStayOpen-collapse{{forloop.counter}}"
                                                                    aria-expanded="true"
                                                                    aria-controls="panelsStayOpen-collapse{{forloop.counter}}">
                                                                    Step {{forloop.counter}}
                                                                </button>
                                                            </h2>
                                                            <div id="panelsStayOpen-collapse{{forloop.counter}}"
                                                                class="accordion-collapse collapse show"
                                                                aria-labelledby="panelsStayOpen-heading{{forloop.counter}}">
                                                                <div class="accordion-body">
                                                                    {{i}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <a class="btn btn-primary" href="{% url 'recipeDetail' r.slug %}">View Full
                                            Recipe</a>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-7"></div>
                    <div class="col">
                        <form action="{% url 'deleteRecipe' r.id %}">
                            {% csrf_token %}
                            <button type="submit" value='deleteRecipe' class="btn btn-danger"><i class="bi bi-trash3"></i><span class="glyphicon glyphicon-trash"></span></button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <hr>
        <br>
        {% endfor %}

    </div>

    <input type="radio" id="taball" name="mytabs">
    <label for="taball">All Recipes</label>
    <div class="tab">
        <div class="row text-center mb-5">
            <h2>All Recipes</h2>
        </div>
        {% for r in allRecipes %}
        <div class="row">
            <div class="col-4 text-center">
                <img style="width: 250px; height: 250px;object-fit:cover;" src="{{r.image}}" alt="">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4>{{r.name}}</h4>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <p>{{r.description}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                            data-bs-target="#allexampleModal{{forloop.counter}}">View Recipe <i class="bi bi-eye"></i></button>
            
                        <!-- Modal -->
                        <div class="modal modal-lg fade" id="allexampleModal{{forloop.counter}}" tabindex="-1"
                            aria-labelledby="allexampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="allexampleModalLabel{{forloop.counter}}">
                                            {{r.name}}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <!--Modal Body-->
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-8 text-center">
                                                    <img class="modalImage"
                                                        style="width:100%;height:300px;object-fit:cover"
                                                        src="{{r.image}}" alt="">
                                                </div>
                                                <div class="col-4">
                                                    <div class="d-flex justify-content-center">
                                                        <ul class="list-group">
                                                            <li class="list-group-item"><strong>Servings:</strong>
                                                                {{r.num_servings}}</li>
                                                            <li class="list-group-item"><strong><i
                                                                        class="bi bi-clock"></i> Total time:</strong>
                                                                {{r.min}} min
                                                            </li>
                                                            <li class="list-group-item"><strong><i
                                                                        class="bi bi-person-circle"></i> Posted
                                                                    by:</strong>
                                                                {{r.author}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Ingredients-->
                                            <div class="row">
                                                <div class="col-4 my-4">
                                                    <h4 class="text-center mb-3"><strong>Ingredients</strong></h4>

                                                    <ul class="list-group">
                                                        {% for i in r.ingredients|newIngredients %}
                                                        <li class="list-group-item">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value=""
                                                                    id="flexCheckDefault" onclick="checkBox()">
                                                                <label
                                                                    style="background-color:white; padding:1px;font-weight: 100;"
                                                                    class="form-check-label" for="flexCheckDefault">
                                                                    {% for x in i %}
                                                                    {{x}}
                                                                    {% endfor %}
                                                                </label>
                                                            </div>

                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <!--Instructions-->
                                                <div class="col my-4">
                                                    <h4 class="text-center mb-3"><strong>Instructions</strong></h4>
                                                    <div class="accordion" id="accordionPanelsStayOpenExample">
                                                        {% for i in r.instructions|newInstructions %}
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header"
                                                                id="panelsStayOpen-heading{{forloop.counter}}">
                                                                <button class="accordion-button" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#panelsStayOpen-collapse{{forloop.counter}}"
                                                                    aria-expanded="true"
                                                                    aria-controls="panelsStayOpen-collapse{{forloop.counter}}">
                                                                    Step {{forloop.counter}}
                                                                </button>
                                                            </h2>
                                                            <div id="panelsStayOpen-collapse{{forloop.counter}}"
                                                                class="accordion-collapse collapse show"
                                                                aria-labelledby="panelsStayOpen-heading{{forloop.counter}}">
                                                                <div class="accordion-body">
                                                                    {{i}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <a class="btn btn-primary" href="{% url 'recipeDetail' r.slug %}">View Full
                                            Recipe</a>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-7"></div>
                    <div class="col">
                        {% if request.user == r.author %}
                        <form action="{% url 'deleteRecipe' r.id %}">
                            {% csrf_token %}
                            <button type="submit" value='deleteRecipe' class="btn btn-danger"><i class="bi bi-trash3"></i><span class="glyphicon glyphicon-trash"></span></button>
                        </form>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        <br>
        <hr>
        <br>
        {% endfor %}

    </div>

</div>
{% endblock %}