{% extends "myCookbook/layout.html" %}
{% load static %}
{% block title %}
<title>My Profile</title>
{% endblock %}

{% block main %}
<div class="container">
    <h5 class="display-5 text-center my-5">Chef {{ user.first_name }}</h5>
    <div class="row">
        <div class="col-4">
            <img class="img-fluid profileImage"
                style="width:300px;height:300px;object-fit:contain;border-radius: 50%;outline-style: double;"
                src="{{user.profile_image}}">
        </div>
        <div class="col">
            <div class="row">
                <h3>{{user.first_name}} {{user.last_name}}</h3>
            </div>
            <div class="row">
                <div class="p">
                    {{user.bio}}
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-dark" href="{% url 'password_change' %}"> Change Password</a>
                </div>
            </div>
        </div>
    </div>

</div>

</div>


{% endblock %}