{% extends "myCookbook/layout.html" %}
{% load static %}
{% block title %}
<title>My Profile</title>
{% endblock %}

{% block main %}
<div class="background">
<br>
<div class="container">
    <h5 class="display-5 text-center font-white">{{ user.first_name }} {{ user.last_name }}</h5>
    <br>
    <div class="card mb-3 p-5">
        <div class="row g-0">
            <div class="col-md-4 pb-2">
                <img src="{{user.profile_image}}" class="img-fluid roundImage" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">About:</div>
                        <div class="col">{{user.bio}}</div>
                    </div>
                    <div class="row">
                        <div class="col-2">Recipes Posted:</div>
                        <div class="col">{{user.num_recipes_posted}}</div>
                    </div>
                    <div class="row">
                        <div class="col-2">Recipes Saved:</div>
                        <div class="col">{{user.num_recipes_saved}}</div>
                    </div>

                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <h5 class="display-5 text-center font-white">My Recipes</h5>
    <br>
    <div class="row">
        <div class="col-4">
          <div id="list-example" class="list-group">
            {% for r in recipes %}
            <a class="list-group-item list-group-item-action" href="#list-item-{{forloop.counter}}">{{ r.name }}</a>
            {% endfor %}
          </div>
        </div>
        <div class="col-8">
          <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
            {% for r in recipes %}
            <div class="recipe-card p-4">
              <div class="row" id="list-item-{{forloop.counter}}">
                    <div class="col">
                        <div class="row">
                            <img class="recipe-img-sm" src="{{ r.image }}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <strong><h4>{{r.name}}</h4></strong>
                        </div>
                        <div class="row">
                            <p>{{ r.description}}</p>
                        </div>
                        
                    </div>
                    <div class="col-2">
                        <div class="row pb-3">
                            <button class="btn btn-dark btn-sm">View Recipe</button>
                        </div>
                        <div class="row pb-3">
                            <button class="btn btn-dark btn-sm">Edit Recipe</button>
                        </div>
                        <div class="row pb-3">
                            <button class="btn btn-dark btn-sm">Delete Recipe</button>
                        </div>
                    </div>
              </div>
            </div>
            <br>
            {% endfor %}
          </div>
        </div>
      </div>
      </div>

    </div>
</div>


{% endblock %}