{% extends "myCookbook/layout.html" %}
{% load static %}
{% block title %}
<title>Recipe</title>
{% endblock %}

{% block main %}
{% if user.is_authenticated %}
<img class="toggle_saved" data-recipe_id="{{ recipe.id }}" src="{% static 'myCookbook/hollow-star.png' %}">
{% endif %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-5">{{ recipe.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Ingredients</h3>
        </div>
    </div>
    <div class="row">
        <ul>
            {% for i in newIngredients %}
            <li>
                {% for x in i %}
                {{x}}
                {% endfor %}
            </li>
            {% endfor %}
        </ul>

    </div>
    <div class="row">
        <div class="col">
            <h3>Instructions</h3>
        </div>
    </div>
    <div class="row">
        <ul>
            {% for i in newInstructions %}
            <li>
                {{i}}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}